#italics
snippet ital \italics
	*${1:TEXT}*${2}
snippet bol \bold
	**${1:TEXT}**${2}
snippet cod \code
	\`${1:CODE}\`${2}
snippet fcode \fencedcode
	\`\`\`
	${1:CODE}
	\`\`\`${2}
snippet day \day
	+ In class
		+ ${1}
	+ Homework
		+ ${2}
	${3}
