snippet top(matter)? "Templated metadata for a blog post" b
<!-- post_url : ${1:URL} -->
<!-- post_title : ${2:Title} -->
<!-- post_date : ${3:`date +%Y-%m-%d`} -->
<!-- post_tldr : ${4:tl;dr} -->$0
endsnippet
