snippet student "a new student entry" b
"${1:firstname}.${2:lastname}${3:year}@trinityschoolnyc.org": {
	"first_name": "`!p res = t[1].title()`",
	"last_name": "`!p res = t[2].title()`"
}${4:,}
endsnippet
