snippet func "function" b
function ${1:Name}() abort
    ${2:code goes here}
endfunction
endsnippet

snippet func! "function!" b
function! ${1:Name}() abort
    ${2:code goes here}
endfunction
endsnippet
